nav{
    display: flex;
    justify-content: center;
}
header{
    height:155px ;
    background-color:SaddleBrown ;
    border-radius: 25px;
}
.beaver{
    border: 5px solid sienna ;
    border-radius: 15px;
}
header a {
    width:160px;
    height: 30px;
    color: black;
    background-color: BurlyWood;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid peru;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    position: relative;
    bottom: 55;
    margin-right: 25px;
    margin-left:25px ;
}
body{
    background-image: linear-gradient(moccasin,BurlyWood);
}
.zagolovok{
    display:flex;
    justify-content:center;
}
.bobrobichnii{
    width:230px ;
    height:250px;
    background-color:SaddleBrown ;
    border: 5px solid Sienna;
    border-radius: 5px;
}
.bobr_familly{
    width:230px ;
    height:250px;
    background-color:Chocolate ;
    border: 5px solid Sienna;
    border-radius: 5px;
}
.bobr{
    width:150px ;
    height:150px;
    background-color:DarkGoldenRod ;
    border: 5px solid Sienna;
    border-radius: 5px;
}
.sbornik_one{
    width:250px ;
    height:300px;
}
.bobr2{
    width:150px ;
    height:100px;
    background-color:Olive;
    border: 5px solid Sienna;
    border-radius: 5px;
}
.sbornik_two{
    width:250px ;
    height:300px;
}
.bobr_est{
    width:150px ;
    height:150px;
    background-color:Maroon;
    border: 5px solid Sienna;
    border-radius: 5px;
}
.plotina{
    width:150px ;
    height:100px;
    background-color:CadetBlue;
    border: 5px solid Sienna;
    border-radius: 5px;
}
.bobr_hoyssse{
    width:230px ;
    height:250px;
    background-color:Peru ;
    border: 5px solid Sienna;
    border-radius: 5px;
}
.sbornik_bobrov_one{
    display:flex;
    justify-content:space-between;
}
.sbornik_bobrov_two{
    display:flex;
    justify-content:space-between; 
}
.conterner_s_video{
    width: 700px;
    right: 600px;
    display:flex;
    justify-content:flex-start; 
}
.two{
    width: 700px;
    right: 600px;
    display:flex;
    justify-content:flex-start;
}
.sled_bobra{
    width: 400px;
    height:400px;
    background-color:SaddleBrown ;
    border: 5px solid Sienna;
    border-radius: 15px;
}
.video{
    width: 400px;
    height:450px;
    background-color:SaddleBrown ;
    border: 5px solid  Sienna;
    border-radius: 15px;
}
table {
    display: flex;
    justify-content: center;    
    font-size: 20px;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 3px solid SaddleBrown;
}
td:first-child{
    background-color: Peru;
}
tr:first-child{
    background-color:Peru ;
}
.table{
    justify-content: center;
}
